body {
  background-image: url('../../assets/bg-foods.jpg');
  background-size: cover;
}

.login-box {
  background-image: url('../../assets/login-bg.png');
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 10% auto;
  height: 60vh;
  opacity: 50%;
  width: 30%;
}

.login-content-box {
  height: 80%;
}

.login-top {
  font-family: 'Rasa', serif;
  margin-top: 10%;
  margin-bottom: 2.5%;
  text-align: center;
}

.login-top-title {
  font-size: 5vw;
  color: #000000;
  margin-top: 0; 
  margin-bottom: 0;
  padding-top: 1vw;
}

.login-top-descrip {
  font-size: 1.25vw;
  margin: 0 auto; padding: 0;
  width: 65%;
}

.login-body {
  margin-left: 30%;
}

#login-form label {
  font-size: 0.95vw;
}

#login-form input[type='text'],
#login-form input[type='password'] {
  margin-bottom: 1%;
  width: 55%;
}

#login-submit {
  width: 57%;
  display: block;
}

.help-block {
  color: red;
  font-size: 0.8em;
}

#login-form input[type='checkbox'] {
  font-size: 1vw;
  margin-bottom: 2%;
}

#login-form input[type='submit'] {
  width: 57%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-body a {
  margin: 5%;
  text-align: center;
  width: 50%;
}

.login-footer {
  width: 57%;
  padding-left: 1.25vw
  /* margin: 1vh auto; */
  /* text-align: center; */
}