body {
  background-image: url('../../assets/bg-foods.jpg');
  background-size: cover;
}

.register-box {
  background-image: url('../../assets/login-bg.png');
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 10% auto;
  height: 60vh;
  opacity: 50%;
  width: 30%;
}

.register-content-box {
  height: 80%;
}

.register-top {
  font-family: 'Rasa', serif;
  margin-top: 10%;
  margin-bottom: 2.5%;
  text-align: center;
}

.register-top-title {
  font-size: 5vw;
  color: #000000;
  margin-top: 0; 
  margin-bottom: 0;
  padding-top: 1vw;
}

.register-top-descrip {
  font-size: 1.25vw;
  margin: 0 auto; padding: 0;
  width: 65%;
}

/**/
.register-body {
  margin-left: 10%;
  margin-top: 2.5vh;
  width: 80%;
}

#register-form {
  display: inline;
}

.register-body-left {
  display: inline-block;
  margin-right: 2%;
  padding: 0 3%;
  width: 45%;
  vertical-align: top;
}
.register-body-right {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

#register-form label {
  font-size: 0.95em;
}

#register-form input[type='text'],
#register-form input[type='password'] {
  margin-bottom: 0.25vh;
  width: 90%;
}

#register-form input[type='checkbox'] {
  margin-bottom: 2%;
}

#register-submit {
  width: 57%;
  display: block;
  margin: 1.5vh auto;
}

.register-body a {
  margin: 5%;
  text-align: center;
  width: 50%;
}

.register-footer {
  width: 57%;
  margin: 1vh auto;
  text-align: center;
}